mixin fees()
    section.fees#fees 
        .fees__body.container 
            h2.fees__title Fees and charges 
            p.fees__p Transparent pricing, with no hidden fees or suprises.
            .switch 
                button(type="button" data-target="switch1").switch__item.active Standard
                button(type="button" data-target="switch2").switch__item Custom
            .fees__content 
                .fees__track 
                    .fees__item#switch1
                        
                    .fees__item#switch2
                        
