mixin intro()
    section.intro 
        .intro__bg 
            img(src="@img/intro-bg.png", alt="" draggable="false")
        .intro__body.container 
            h1.intro__title Grow your sales and audience with Zaamin
            p.intro__p Sell more by accepting payments via cards, bank accounts and buy now, pay later instalments. All via a single integration!
            button(type="button" data-target="getStarted").open-popup.intro__btn Get Started
            a(href="#merchants").intro__scroll
                span Scroll to see more
                <svg width="52" height="78" viewBox="0 0 52 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.25127" y="52" width="35" height="35" rx="5.5" transform="rotate(-45 1.25127 52)" stroke="white" stroke-opacity="0.35"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M26.9413 0L25.9413 0L25.9413 48.25H22.5442L26.4413 55L30.3384 48.25H26.9413L26.9413 0Z" fill="white"/>
                </svg>
            .intro__img 
                img(src="@img/intro-img.png", alt="" draggable="false")