mixin merchants()
    section.merchants#merchants 
        .merchants__body.container
            h2.merchants__title Trusted by established merchants
            .merchants__content 
                .merchants__item 
                    img(src="@img/merchant-1.png", alt="" draggable="false")
                .merchants__item 
                    img(src="@img/merchant-2.png", alt="" draggable="false")
                .merchants__item 
                    img(src="@img/merchant-3.png", alt="" draggable="false")
                .merchants__item 
                    img(src="@img/merchant-4.png", alt="" draggable="false")
                .merchants__item 
                    img(src="@img/merchant-5.png", alt="" draggable="false")
                .merchants__item 
                    img(src="@img/merchant-6.png", alt="" draggable="false")
                .merchants__item 
                    img(src="@img/merchant-7.png", alt="" draggable="false")

